page-home {
    ion-content {
        background-image: url('../assets/imgs/nature1.jpg');
        background-size: cover;
    }

    .scroll-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #title {
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
        color: white;
        text-align: center;
        font-size: 3.8rem;
        position: absolute;
        top: 10px;
    }

    ion-card {
        text-align: center;
        padding: 50px 0 !important;
        margin: auto !important;
    }

    h2{
        font-weight: 600 !important;
    }

    span {
        font-size: 4.5rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #caudal {
        color: rgb(0, 0, 255);
    }

    #nivel {
        color: rgb(0, 128, 0);
    }
}
