<ion-content padding>
  <h1 id="title">Estacion Hidrologica</h1>

  <ion-card padding>
  
    <h2>-CAUDAL</h2>
    <span id="caudal">{{caudal}} m3</span>
    <br><br><br>
    <h2>-NIVEL</h2>
    <span id="nivel">{{nivel}} cm</span>
  
  </ion-card>
</ion-content>
